#web_bg{
  /* ����ͼ��ĵ�ַ��url�����  */
  background-image: url(https://ae01.alicdn.com/kf/He59137188fda437ab5c0df8f3cb5262bT.jpg);
  /* ����ͼ���ظ� */
  background-repeat: no-repeat;
  /* 2449*1632 */
  background-size: cover;
}
