#web_bg{
  /* ����ͼ��ĵ�ַ��url�����  */
  background: url(http://m.qpic.cn/psc?/V13oj26o1ZZx62/OO0GOkEvd.dIewPrYqD0DrnaaFlzATbYt1t5s4bg8CIygCpD6Fa0MeyJ6n7VfuP9WLmXlLOqZmdWeVSE.ploNA!!/b&bo=dgY4BAAAAAADB24!&rf=viewer_4);
  /* ����ͼ���ظ� */
  background-repeat: no-repeat;
  /* 2449*1632 */
  background-size: cover;
}
