#web_bg{
  /* ����ͼ��ĵ�ַ��url�����  */
  background: url(https://pics.images.ac.cn/image/5edc5c0fac1a6.html);
  /* ����ͼ���ظ� */
  background-repeat: no-repeat;
  /* 2449*1632 */
  background-size: cover;
}
